* {
    margin: 0;
}

body {
    color:#c5d5cb;
    background-color: #3b3a36;
    font-family: "Lora" , serif;
    font-size: 24px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
}
#skills {
    float: left;
    display: inline-block;
    width: 100%;
}
.sign {
    /*width: 19%;*/
    border: 1px solid #e3e0cf;
    margin: 15px 10px 10px 10px;
    background: #c5d5cb;
    color: #9fa8a3;
    float: left;
}
#hobby {
    display: inline-block;
    width:100%;
    float: left ;
}
.gallery {
    display: inline-block;
    width: 25%;
    border: 1px solid #e3e0cf;
    margin: 15px 10px 10px 10px;
    background: #c5d5cb;
    color: #9fa8a3;
}
/*NAVIGATION*/


/*
a:hover {
    text-decoration: underline;
    color
    */
/*Header*/ 


/*SECTION HOME*/
#about me {
     position: relative;
     background-color: #fff;
     background-repeat: no-repeat;
     background-position: center;
     width: auto;
     height: 100px;
}
/*SECTION SKILLS*/

#page1{
    background: #c7c7c7;
    width: auto;
    height: 300px;
    position: relative;
}
.skills {
    position: absolute;
    width:1050px;
    height: 500px;
    margin: 130px 180px;
}
.skills h2 {
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size:100%;
}
.skills li {
    display: inline-block;
    margin-left:55px;
    opacity:.5;
}
.skills li:hover {
    opacity: 1;
    transition: .5s;
}
    /*CONTACT
#page3{ 
    background:#c7c7c7;
    width: auto;
    height:550px;
    position: relative;
  }
.contact {
    width:300px;
    height: auto;
    position: absolute;
    margin: 130px 50px;
}
.contact .icon {
    width: 24px;
}
.contact li {
    padding: 10px;
}
.contact h2 {
    color: black;
    margin-left:80px;
}*/
/*main*/
.collections {
    overflow: auto;
}
.collection-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
    font-size:36px;
}
.collection-title small {
    color: #777;
    font-size: 50%;
}
.colection-item-outer {
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33%;
    box-sizing: border-box;
}
.collections > div:first-child {
    padding-left: 0;
    padding-right: 5px;
} 
.collections > div:last-child {
    padding-right: 0;
    padding-left: 5px;
}
.collection-item {
    border: 1px solid #c7c7c7;
}
.collection-item img {
    width: 33.33%;
}

/*FORM*/


/*.write_message {
    position: absolute;
    width: 100px;
    height: auto;
    margin:10px 450px;
    padding-left: 5px;
    font-family: "Lora" , serif;
    font-size: 18px;
}
.message {
    border: 2px solid #bab9b9;
    border-radius: 2px;
}
#button {
    border-radius: 2px;

}    

.container {
    margin: 0 auto;
  
}
    
header{
    height:700px;
}
.me {
    width: 100%;
}
section {
    height: 700px;
}
.girl {
    width:100%;
}




