* {
    margin: 0;
}

body {

    color:#c5d5cb;
    background-color: #3b3a36;
    font-family: "Lora" , serif;
    font-size: 24px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
}
#skills {
    float: left;
    display: inline-block;
    width: 100%;
}
.sign {
    /*width: 33.33;*/
    border: 2px solid #e3e0cf;
    margin: 30px 25px 25px 25px;
    background: #c5d5cb;
    color: #9fa8a3;
    float: left;
}
#hobby {
    display: inline-block;

    width:100%;
    float: left;
}
.gallery {
    display: inline-block;
    width: 25%;
    border: 1px solid #e3e0cf;
    margin: 10px 5px 5px 5px;
    background: #c5d5cb;
    color: #9fa8a3;
}
h2 {
    font-size: 40px;
    color: #3b3a36;
    opacity:0.5;
    text-shadow: 2px 2px 2px #aaa;
    text-align: center;
    float: left;
    padding-left: 5%;
    margin: 22px 0 22px 0;
    opacity: 1;
    background-color: #c5d5cb;
    width:100%;
    height: 80px;
}
.topright{
    position: absolute;
    top:0px;
    opacity: 0.5;
    width:100%;
    font-size:30px;
}
.navbar {
    width: 100%;
}
#contact {
  border-color: #3b3a36;
  color: #3b3a36;

  width: 100%;
}
input, textarea {
    border-radius:2px;
}
    
}
/*NAVIGATION*/


/*
a:hover {
    text-decoration: underline;
    color
    */
/*Header*/ 


/*SECTION HOME*/
#about me {
     position: relative;
     background-color: #fff;
     background-repeat: no-repeat;
     background-position: center;
     width: auto;
     height: 100px;
}
/*SECTION SKILLS*/





    /*CONTACT
#page3{ 
    background:#c7c7c7;
    width: auto;
    height:550px;
    position: relative;
  }
.contact {
    width:300px;
    height: auto;
    position: absolute;
    margin: 130px 50px;
}
.contact .icon {
    width: 24px;
}
.contact li {
    padding: 10px;
}
.contact h2 {
    color: black;
    margin-left:80px;
}*/
/*main*/
.collections {
    overflow: auto;
}
.collection-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #777;
    font-size:36px;
}
.collection-title small {
    color: #777;
    font-size: 50%;
}
.colection-item-outer {
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33%;
    box-sizing: border-box;
}
.collections > div:first-child {
    padding-left: 0;
    padding-right: 5px;
} 
.collections > div:last-child {
    padding-right: 0;
    padding-left: 5px;
}
.collection-item {
    border: 1px solid #c7c7c7;
}

/*FORM*/



.message {
    border: 2px solid #bab9b9;
    border-radius: 2px;
}
#button {
    border-radius: 2px;

}    







